/bin/composer
/build/
/phpunit.xml
/.env
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/var/repositories/*
!var/repositories/.gitkeep
/var/ssh/*
!var/ssh/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/docker/redis/data/
/clover.xml
