includes:
    # see https://github.com/phpstan/phpstan/pull/508
    - ./vendor/phpstan/phpstan/conf/config.level1.neon
    - ./vendor/phpstan/phpstan/conf/config.level2.neon
    - ./vendor/phpstan/phpstan/conf/config.level3.neon
    - ./vendor/phpstan/phpstan/conf/config.level4.neon
    - ./vendor/phpstan/phpstan/conf/config.level5.neon
    - ./vendor/phpstan/phpstan/conf/config.level6.neon
    - ./vendor/phpstan/phpstan/conf/config.level7.neon

    - vendor/phpstan/phpstan-doctrine/extension.neon
