# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Create one there https://github.com/settings/tokens and give it full
    # access over private repositories (`repo` scope)
    github_api_token: ~

    phpcs_binary: '%kernel.root_dir%/../vendor/bin/phpcs'
    phpmd_binary: '%kernel.root_dir%/../vendor/bin/phpmd'

    git_binary: /usr/bin/git
    repositories_directory: '%kernel.root_dir%/../var/repositories'

    rabbitmq_host: rabbit
    rabbitmq_port: 5672
    rabbitmq_user: ~
    rabbitmq_password: ~
    rabbitmq_vhost: regis_vhost

    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~

    redis_host: redis

    admin_password: ThisPasswordIsNotSoSecretChangeIt

    test_repo_secret: ~
