{% extends '::layout_home.html.twig' %}

{% block content %}
<h1 class="cover-heading">Regis</h1>

<p class="lead">
    Let Regis inspect your pull requests for style violations and other boring
    details… you should be the one to do the real code review!
</p>
<p class="lead">
    <a href="{{ path('github_connect') }}" class="btn btn-lg btn-default">Login with GitHub</a>
    <a href="{{ path('bitbucket_connect') }}" class="btn btn-lg btn-default">Login with Bitbucket</a>
</p>
{% endblock %}
